@* Available Seats Template File *@
@(screening: Screening, chosenSeats: Seq[(Int, Int)])(implicit request: MessagesRequestHeader, flash: Flash)

@main("Available Seats") {
<h2>Chosen movie:</h2>
<li>@screening</li>
<br>

<h2>Available seats in screening room ("FREE"):</h2>
<ol start="0">
    @for(row <- screening.screeningRoomPlaces) {
    <li>@row.mkString(" ")</li>
    }
</ol>

<h2>Chosen seats - choose ticket types:</h2>
<form method="post" action="@routes.TicketBooking.chooseTicketTypes">
    @helper.CSRF.formField
<ul>
    @for(seat <- chosenSeats) {
    <li>Row number: @seat._1 - seat number: @seat._2</li>
        <label for="ticketType">Choose ticket type:</label>
        <select name="ticketType" id="ticketType">
            <option value="child">child</option>
            <option value="student">student</option>
            <option value="adult">adult</option>
        </select>
    <br><br>
    }
</ul>
    <input type="submit" value="Choose ticket types">
</form>

}