@* ticketBookingInit Template File *@
@()(implicit request: MessagesRequestHeader, flash: Flash)

@main("Ticket Booking Init") {
<h2>Choose date and time when You would like to see a movie:</h2>
<br>

<form method="post" action=@routes.TicketBooking.chooseDateAndTime>
  @helper.CSRF.formField
  <label for="dateTime">Good time to watch a movie (date and time):</label>
  <input type="datetime-local" id="dateTime" name="dateTime">
  <br>
  <input type="submit">Show available movies!</input>
</form>

<br><br>
<p><strong>Note:</strong> type="datetime-local" is not supported in Firefox, Safari or Internet Explorer 12 (or earlier).
<br><strong>If you really want to go further with one of these browsers, you have to fill the textbox using formatting like this:
  <br>2021-06-15T19:00     ->     YYYY-MM-DD"T"HH:MM</strong></p>


}